apiVersion: v1
kind: Service
metadata:
  name: ignition-k8s-sample
  labels:
    app: ignition-k8s-sample
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app: ignition-k8s-sample
